@import url('https://fonts.googleapis.com/css2?family=Myriad+Pro&display=swap');

body{
    /*font-family: var(--artdeco-reset-typography-font-family-sans);*/
	font-family: 'Myriad Pro', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
    padding: 0;
    background-color: #F3F2EE;
    box-sizing: border-box;
	vertical-align: var(--artdeco-reset-base-vertical-align-baseline);
}
.main-pagina{
	position: relative;
	z-index: 1;
	display: flex;
	
	justify-content: center;
}
.pagina-encabezado{
	
	/*
	background-color: var(--color-background-container);
    left: 0;
    padding: 0 var(--spacing-three-x);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 105;
    border-bottom: 1px solid var(--color-border-faint);
	
	background-color: #0077B5; /* Color de fondo del encabezado 
    color: #ffffff; /* Color del texto del encabezado 
    padding: 10px 0; /* Espaciado interno del encabezado 
    position: fixed; /* Fija el encabezado en la parte superior 
    width: 100%; /* Ancho completo del encabezado 
	top: 0; /* Alinea el encabezado en la parte superior 
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos 
	*/
	
    left: 0;
    
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 105;
    border-bottom: 1px solid;
	border-bottom-color: #EEEEEE;
	background-color: #ffffff;
	padding-left: 24px;
	padding-right: 24px;
}
.encabezado-content{
	align-items: center;
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
	display: flex;
	width: 1128px;
    margin-left: 26; 
	margin-right: 26;
}
.encabezado-content-buscador{
	opacity: 1;
	flex-grow: 1;
	position: relative;
    max-width: 280px;
}
.encabezado-content-menu{
	margin-left: auto;
    
    min-height: 52px;
	display: flex;
	align-items: center;
    width: 100%;
	    position: relative;
	
    
}
.buscador-elemento{
	line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    /*height: 34px;*/
	border: none;
    box-shadow: none;
	background-color: #ECF5F5;
    border-radius: 5px;
    color: var(--color-text-active);
    padding: 0 40px;
	border: none;
    box-shadow: none;
	width: 100%;
	height: 34px;
}
.encabezado-menu-items{
    opacity: 1;
	/*
	    margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
	width: auto;
  	height: auto;
	justify-content: space-between;
	*/
	margin: 0;
	display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
	
	
}
.encabezado-content-lateralI{
	display: flex;
	justify-content: center;
	
}

.content {
  margin-top: 60px; /* Ajuste del margen superior para evitar que el contenido se superponga al encabezado */
  padding: 20px; /* Espaciado interno del contenido */
  height: 1500px; /* Altura de ejemplo para demostrar el desplazamiento */
}
.encabezado-menu-item{
	
	display: flex;
	flex-direction:column;
	justify-content: center;
    height: 100%;
	text-align: center;
	align-items: center;
	font-size: 1.2rem;
    font-weight: 400;
	
    min-width: 80px;
    position: relative;
    text-decoration: none;
	bottom: 0;
    left: 0;
	background: transparent;
	/*width: 20%;*/
}
.encabezado-content-buscador{
	/*
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	text-justify: center;*/
	display: grid;
	place-items: center;
	padding-left: 10px;
	
}
.icon-link{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	/*margin: 0 0.4rem 0 -0.4rem;*/
}

.contenedor-buscador-icon{
	display: grid;
	place-items: center;
	padding-left: 10px;
	z-index: 10;
	/*
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	/*
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    border-radius: 0 2px 2px 0;
    width: 40px;
    height: 34px;
    margin: 0;
    box-shadow: none;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .15s;
	*/
}

.icono-menu{
	width: 30px
}


.pagina-contenido{
	padding-top: 0px;
	/*margin: -52px auto 0;*/
	margin-top: 50px; 
    
	max-width: 100%;
	display: block;
	
	/*
	margin: var(--artdeco-reset-base-margin-zero);
    padding: var(--artdeco-reset-base-padding-zero);
    border: var(--artdeco-reset-base-border-zero);
    font-size: var(--artdeco-reset-base-font-size-hundred-percent);
    vertical-align: var(--artdeco-reset-base-vertical-align-baseline);
    background: var(--artdeco-reset-base-background-transparent);
	*/
}
.contenido-interno{
	display: inline-block;
	min-width: 1128px;/*768px*/
	max-width: 1128px;
	scaffold-layout-gutter: 2.4rem;
}
.interno-rama{
	display: flex;
	justify-content: space-around;
	/*border: 2px solid red; /* Ancho de 2px, estilo sólido y color rojo */
    padding: 10px; 
}
.rama-layer-izquierdo{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	/*border: 2px solid blue; /* Ancho de 2px, estilo sólido y color rojo */
  padding: 10px;
	min-width: 222px;
	max-width: 720px;
}
/*
.layer-izquierdo{
	position: ;
  	top: 0;
}
*/
.layer-izquierdo-perfil{
	padding: 0;
    text-align: center;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	    background-color: #f7f7f7;
  border: 1px solid #E0DFDD;
  box-shadow: 1px 1px 3px #E0DFDD;
	
}
.layer-izquierdo-actividades{
	position: sticky;
    top: 76px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;	
	    background-color: #f7f7f7;
  border: 1px solid #E0DFDD;
  box-shadow: 1px 1px 3px #E0DFDD;
	

}



.perfil-image{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
}
.image-fondo-link{
}
.perfil-contactos{
	display: flex;
	width: 100%;
	
}
.contactos-texto{
	display: flex;
	flex-direction: column;
	
	text-align:  start;
	text-justify: inherit;
	justify-content: space-around;
	width: 150%;
	padding-left: 15px;
}
.contactos-icono{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
}
.perfil-informacion{
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 90%;
}
.informacion-texto{
	display: flex;
	align-items: center;
	
}
.layer-izquierdo-actividades{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
}
.actividades{
	margin-top: 5px;
	margin-left:  20px;
	text-align: start;
	tex: center;
	padding: 3px;
	width: 100%;
}
.actividades-vermas{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	padding-top: 0px;
}
.rama-layer-mitad{
		display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	 /* Ancho de 2px, estilo sólido y color rojo */
        /*padding: 10px; */
		min-width: 552px;
	border-radius: 10px;
	padding: 10px;
}
.rama-layer-derecho{
        /*padding: 10px; */
		min-width: 297px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	padding: 10px;
	border-radius: 10px;
	    
}
.layer-derecho-feed{
	background-color: #f7f7f7;
  border: 1px solid #E0DFDD;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #E0DFDD;
}
.layer-mitad-contenido{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
		    background-color: #f7f7f7;
  border: 1px solid #E0DFDD;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #E0DFDD;
	margin-bottom: 10px;
}
.mitad-contenido-usuario{
	display: flex;
	justify-content: center;
	width: 100%;
}
.contenido-usuario-informacion{
	width: 80%;
	display: flex;
	/*min-width: 100%
	 margin-left:10px
	*/
	padding-top: 12px;
	padding-left: 8px;
	padding-bottom: 10px;
}
.mitad-contenido-opciones{
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	padding-top: 15px;
}
.usuario-informacion-icono{
	display: flex;
	justify-content: flex-end;
	width: 15%;	
}
.usuario-informacion-texto{
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	width: 85%;
	justify-content: space-around;
	text-align: start;
}
.imagen-usuario{
	width: 100px;
}
.opciones-icon{
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-right: 20px;
}
.mitad-contenido-descripcion{
	display: flex;
	flex-direction: column;
	text-align: start;
	padding-left: 0px;
	padding-bottom: 8px;
	width: 92%;
}
.mitad-contenido-multimedia{
	display: flex;
	align-items: center;
	justify-content: center;
}
.multimedia-imagen{
	width: 100%;
}
.mitad-contenido-social{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%
}
.contenido-social-estadisticas{
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	width: 100%;
}
.social-estadisticas-reacciones{
	display: flex;
	align-items: flex-end;
	width: 50%
}
.social-estadisticas-compartidos{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 50%
}
.contenido-social-interaccion{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}
.interaccion-recomendar-boton{
	border: none;
	opacity: 1;
	border-radius:5px;
	padding: 13px;
	margin-bottom: 0px;
	background-color: #f7f7f7;
}
.interaccion-recomendar-boton:hover {
  background-color: #E0E0E0;
	cursor: pointer;
}
.recomendar-boton-contenedor{
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.lineas-hr{
	width: 90%;
}
.lineas-hr-cien{
	width: 100%;
}
.margin-cero{
	margin: 0px;
}
.derecho-feed-interno{
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feed-interno-texto{
	display: flex;
	flex-direction: row;
	text-align: start;
	align-items: center;
	justify-content: space-between;
	width: 92%;
}
.feed-interno-informacion{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	padding-top: 10px;
	padding-bottom: 10px;
}
.feed-interno-estructura{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	width: 100%;
	margin: 0;
}
.interno-informacion-descripcion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10px;
	
}
.informacion-descripcion-boton{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	margin-top: 5px;
	background-color: #f7f7f7;
	/*z-index: 20;*/
}
.informacion-descripcion-boton:hover{
	background-color: #E0E0E0;
	cursor: pointer;
}
.informacion-descripcion-texto{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content:  space-around;
}
.spam-derecha{
	margin:2px;
}
.layer-derecho-add{
	margin-top: 9px;
	
}
.layer-derecho-imagen{
	border-radius: 10px;
	width: 100%;
	/*
	width: 20%;
	top: 100px;
	position: fixed;
    top: 370px; /* Cambia esto según la posición deseada en la pantalla 
    left: 77%; /* Puedes ajustar el valor según tu diseño 
    transform: translateX(-50%);
	/*
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
	*/
}
.encabezado-menu-icon1{
	display: flex;
	padding-left: 15px;
	width: 100%;
	height: 40%;
	flex-direction: column;
	text-align: center;
}
.foto-perfil{
	border-radius: 50px;
	border-style: solid;
  	border-color: white;
  	border-width: 1px;
}
.boton-cien{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
}
.boton-cien:hover {
  background-color: #E0E0E0;
	cursor: pointer;
	/*
	border-bottom-style: solid;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: #B1B1B1;
  	*/
}
.social-interaccion-recomendar{
	margin: 3px;
}
.social-interaccion-comentar{
	margin: 3px;
}
.social-interaccion-compartir{
	margin: 3px;
}
.social-interaccion-enviar{
	margin: 3px;
}
.perfil-etiqueta{
	width: 90%;
	padding: 10px;
	padding-top: 0px;
}
.padding-izquierda{
	padding-left: 5px;
}
.layer-mitad-incio{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
		    background-color: #f7f7f7;
  border: 1px solid #E0DFDD;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #E0DFDD;
	margin-bottom: 10px;
}
.mitad-incio-publicar{
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 10px;
}
.mitad-incio-contenidos{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.incio-contenidos-contendio{
	display: flex;
	width: 100%;
}
.incio-contenidos-evento{
	display: flex;
	width: 100%;
}
.incio-contenidos-escribir{
	display: flex;
	width: 100%;
}
.texto-mitad{
	display: flex;
	align-items: center;
	justify-content: center;
}
.incio-publicar-icon{
	display: flex;
	justify-content: center;
	width: 10%;
}
.incio-publicar-input{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.publicar-input-boton{
	width: 95%;
	height: 80%;
	border: none;
	border-style: solid;
  border-color: #D5D5D5;
  border-width: 1px;
	border-radius: 50px;
	background-color: #f7f7f7;
	
}
.publicar-input-boton:hover{
	background-color: #E0E0E0;
	cursor: pointer;
}
.mitad-boton{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #f7f7f7;
}
.mitad-boton:hover{
	background-color: #E0E0E0;
	cursor: pointer;
}
.imagen{
	position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height:72px;
	border-radius: 50px;
	border-style: solid;
  border-color: white;
  border-width: 1px;
}
.permanece{
	
}
.orden{
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 10px;
}
.hre{
	width: 80%;
}
.hrep{
	width: 95%;
}